.hero {
   padding-top: 30px;
   background-color: #EFEFEF;
}

.hero__row {
   display: flex;
   justify-content: space-between;
   column-gap: 15px;
}

.hero__info {
   border-radius: 15px;
   min-height: 412px;
   padding: 84px 60px 72px;
   background-image: url('../images/hero/hero-bg.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   position: relative;
   overflow: hidden;
   z-index: 1;
   width: 100%;

   &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, rgba(36, 27, 63, 0.97) 0%, rgba(36, 27, 63, 0.81) 48.44%, rgba(36, 27, 63, 0.53) 98.96%);
      z-index: 1;
   }
}

.hero__title {
   font-weight: 600;
   font-size: 35px;
   line-height: 35px;
   color: #fff;
   max-width: 350px;
   margin-bottom: 12px;
   position: relative;
   z-index: 5;

   span {
      color: var(--secondary-color);
      padding: 0 10px;
      padding-bottom: 3px;
      background-color: #fff;
      border-radius: 10px;
   }
}

.hero__text {
   max-width: 350px;
   line-height: 19px;
   font-weight: 500;
   color: #E3E3E3;
   position: relative;
   z-index: 5;
   margin-bottom: 30px;
}

.hero__btn {
   min-width: 216px;
   min-height: 50px;
   position: relative;
   z-index: 5;
}

.hero__orders {
   display: flex;
   flex-direction: column;
   row-gap: 10px;
}

.hero__orders-item {
   border-radius: 15px;
   background-color: #fff;
   padding: 13px 18px 10px;

   &:last-child {
      opacity: 0.3;
   }
}

.hero__orders-item__top {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 8px;
}

.hero__orders-item__title {
   border-radius: 5px;
   background-color: var(--primary-color);
   padding: 5px 10px;
   font-weight: 600;
   font-size: 14px;
   color: #fff;

   &.active {
      background-color: var(--secondary-color);
   }
}

.hero__orders-item__date {
   font-weight: 500;
   font-size: 14px;
   color: #8D8A8A;
}

.hero__orders-item__bottom {
   padding-left: 10px;
}

.hero__orders-item__text {
   color: var(--dark-color);
   font-weight: 700;
   font-size: 14px;
   line-height: 20px;
   display: block;
   margin-bottom: 5px;
}

.hero__orders-item__country {
   display: block;
   white-space: nowrap;
   color: #8D8A8A;
   font-size: 14px;
   line-height: 20px;
   font-weight: 500;
}